In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def intoduction(self):
      print(f"name is : {self.name}, and age is : {self.age}")

person1=person("Rishav","16")
person1.intoduction()

name is : Rishav, and age is : 16

In [ ]:
class Car:
  def __init__(self,brand,modal):
    self.brand=brand
    self.modal=modal

  def display_info(self):
      print(f"brand is : {self.brand} , and modal is: {self.modal}")

car1=Car("volvoo","s19")
car1.display_info()

brand is : volvoo , and modal is: s19

In [ ]:
class bankaccount:
    def __init__(self,account_number,balance):
        self.account_number=account_number
        self.balance=balance

    def display_balance(self):
        print(f"account number is : {self.account_number} , And balance is : {self.balance}")
bankaccount1=bankaccount("310785567123","20000$")
bankaccount1.display_balance()

account number is : 310785567123 , And balance is : 20000$

In [ ]:
class mobilephone:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def make_call(self):
        print(f"brand is : {self.brand} , and model is : {self.model}")

mobilephone1=mobilephone("Apple","16 pro max")
mobilephone1.make_call()

brand is : Apple , and model is : 16 pro max

In [ ]:
class book:
     def __init__(self,title,author):
         self.title=title
         self.author=author
     def display_info(self):
         print(f"title is : {self.title} , and author is : {self.author}")

book1=book("The Cricket on the Hearth","Charles Dickens")
book1.display_info()

title is : The Cricket on the Hearth , and author is : Charles Dickens

In [ ]:
class vechicles:
   def __init__(self,name,model,year):
    self.name=name
    self.model=model
    self.year=year



class car(vechicles):
      def __init__(self,name,model,year):
         self.name=name
         self.model=model
         self.year=year
      def stop_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

      def start_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")


class motercycle(vechicles):

      def __init__(self,name,model,year):
         self.name=name
         self.model=model
         self.year=year
      def stop_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

      def start_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")


car1=car("baleno" , "delta" , "2024")
car1.stop_engine()
car1.start_engine()


motercycle1=motercycle("hero" , "hf deluxe" , "2024")
motercycle1.stop_engine()
motercycle1.start_engine()

name is : baleno , model is : delta , and year is : 2024
name is : baleno , model is : delta , and year is : 2024
name is : hero , model is : hf deluxe , and year is : 2024
name is : hero , model is : hf deluxe , and year is : 2024

In [ ]:
class animals:
    def __init__(self,eat,sleep):
      self.eat=eat
      self.sleep=sleep
    def sound(self):
        pass

class dog(animals):
  def __init__(self,eat,sleep):
      self.eat=eat
      self.sleep=sleep
  def brak(self):
    print(f" eat is : {self.eat}, and sleep is :  {self.sleep}")

class cat(animals):
  def __init__(self,eat,sleep):
    self.eat=eat
    self.sleep=sleep
  def meow(self):
      print(f" eat is : {self.eat}, and sleep is :{self.sleep}")


dog1=dog("biscuit" , "at 12 am to 3 pm")
dog1.brak()

cat1=cat("rat" , "8 hours")
cat1.meow()

 eat is : biscuit, and sleep is :  at 12 am to 3 pm
 eat is : rat, and sleep is :8 hours

In [ ]:
class libraryitem:
      def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year

class book:
     def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year
     def checout(self):
         print(f"title is : {self.title}, author is : {self.author}, and publication_year : {self.publication_year} ")

class magazine:
     def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year
     def return_item(self):
         print(f"title is : {self.title}, author is : {self.author}, and publication_year : {self.publication_year} ")

book1=book("dance" , "Haruki Murakami" , "1994")
book1.checout()

magazine1=magazine("The Daffodil Sky" , "H. E. Bates" , "1990")
magazine1.return_item()

title is : dance, author is : Haruki Murakami, and publication_year : 1994
title is : The Daffodil Sky, author is : H. E. Bates, and publication_year : 1990